S3/Projects/bleee
S3/Projects/demmoble
S3/Projects/deso
S3/Projects/lcd_working
S3/Projects/LVGL_HelloWorld
S3/Projects/mquero
S3/Projects/qmi
S3/Projects/.vscode
S3/Projects/lcd_xx.zip
# S3/Projects/lcd_ble/managed_components
C6/Chip_manufacturer_info/
**/build
